/* FONTS */
@font-face {
  font-family: "book";
  src: url("../global/fonts/bal-book.woff2") format("woff2");
}
@font-face {
  font-family: "medium";
  src: url("../global/fonts/bal-medium.woff2") format("woff2");
}
@font-face {
  font-family: "bold";
  src: url("../global/fonts/bal-bold.woff2") format("woff2");
}
@font-face {
  font-family: "arial";
  src: url("../global/fonts/bal-arial.woff2") format("woff2");
}
@font-face {
  font-family: "bw";
  src: url("../global/fonts/BroadwayD.woff2") format("woff2");
}
@font-face {
  font-family: "kl";
  src: url("../global/fonts/Kinetika-Light.woff2") format("woff2");
}
@font-face {
  font-family: "ku";
  src: url("../global/fonts/Kinetika-Ultra.woff2") format("woff2");
}
@font-face {
  font-family: "kui";
  src: url("../global/fonts/kinetika-ultra-italic.woff2") format("woff2");
}
.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 17.5rem;
}
.container img {
  background: none;
  margin: 0rem 0 0.5rem 0rem;
  width: 2.5rem;
}
.container .line {
  width: 7.5%;
  border: 1px solid #111;
  margin-bottom: 2rem;
  margin-top: 0.75rem;
}
.container h1 {
  text-align: center;
  font-family: ku;
  font-size: 1.75rem;
}
.container h1:nth-child(2) {
  font-size: 0.925rem;
}
.container h1:nth-child(4) {
  font-size: 2.75rem;
  line-height: 2.75rem;
  width: 60%;
}
.container form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.container .inner-content {
  display: flex;
  flex-direction: column;
}
.container .inner-content .text h1 {
  text-align: center;
  font-family: ku;
}
.container .inner-content .text p {
  text-align: center;
  font-size: 0.925rem;
  line-height: 1.2rem;
  padding: 0.25rem 0 1.25rem 0;
  width: 100%;
}
.container .inner-content .text .tal {
  text-align: left;
}
.container .inner-content input {
  width: 20rem;
  padding: 0.85rem 0.75rem;
  font-family: arial;
  color: #fafafa;
  border: 2px solid black;
  border-radius: 0.2rem;
  font-size: 1.1rem;
}
.container .inner-content input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px black;
  border-color: black;
  caret-color: black;
}
.container .inner-content .email {
  padding-left: 0.6rem;
  margin-top: 0.15rem;
}
.container .inner-content .submit {
  padding: 0.75rem 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.65rem;
  background-color: #fafafa;
  color: black;
}
.container .inner-content .submit:hover {
  opacity: 0.85;
  cursor: pointer;
}
.container .port {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding-bottom: 1.5rem;
}
.container .port a {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Ensure text inside <p> is centered */
}
.container .port a img {
  width: 4.25rem;
  border-radius: 0.5rem;
  max-width: 100%; /* Optional: ensures the image doesn't overflow */
  margin: 2rem 0 0.65rem 0;
}
.container .port p {
  font-size: 0.9rem;
}

* {
  box-sizing: border-box;
  margin: auto;
  user-select: none;
}

html,
body {
  margin: auto;
  width: 100%;
  min-height: 100vh;
  background: #fff;
}

body {
  overflow-y: none;
  overflow-x: hidden;
}

main {
  padding: 0;
  margin: 0;
  background: #fff;
}

img {
  display: block;
  width: 100%;
  height: auto;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  font-family: "book";
}

h1 {
  font-size: 1.35rem;
  font-family: "medium";
  font-weight: 100;
  color: #111;
  text-decoration: none;
  text-shadow: none;
}

h2 {
  font-size: 0.8rem;
  font-family: "medium";
  font-weight: 100;
  color: #111;
  text-decoration: none;
  text-shadow: none;
}

h3,
h4,
h5,
h6 {
  font-family: "medium";
  color: #111;
  text-shadow: none;
}

p {
  font-family: book;
  font-size: 1.1rem;
  color: #111;
  text-shadow: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

span {
  font-family: bold;
  font-size: 4rem;
  color: #111;
}

button {
  font-size: 0.8rem;
  font-family: medium;
  font-weight: 100;
}

/*# sourceMappingURL=global.css.map */
